@charset "UTF-8";

.intbox
{
    display: block;
    width: 800px;
    margin: auto;
}

.inttitle
{
    margin: 0;
}

.intbox-content
{
    display: inline-block;
    width: 500px;
    font-size: 14px;
}

.intbox-content p
{
    margin-bottom: 8px;
}

.textwrap
{
    margin: 20px;
    margin-top: 15px;
    padding-bottom: 30px;
}

.textwrap img
{
    vertical-align: top;
}

.sideimg
{
    width: 200px;
    height: 300px;
    margin-right: 10px;
}

.wideimg
{
    display: block;
    margin: auto;
    width: 500px;
    height: 100px;
}

.wide-text
{
    width: auto;
}

.gtext
{
    width: 400px;
}

.gbox
{
    margin-left: 30px;
    width: 300px;
}