@charset "UTF-8";

.intbox
{
    display: block;
    width: 800px;
    margin: auto;
}

.inttitle
{
    margin: 0;
}

.intbox-content
{
    display: inline-block;
    width: 500px;
    font-size: 14px;
}

.intbox-content p
{
    margin-bottom: 8px;
}

.textwrap
{
    margin: 20px;
    margin-top: 15px;
    padding-bottom: 30px;
}

.textwrap img
{
    width: 200px;
    height: 300px;
    vertical-align: top;
}

.wideimg
{
    display: block;
    margin: auto;
    width: 500px !important;
    height: 100px !important;
}