@charset "UTF-8";

.topbar
{
    height: 80px;
    margin-bottom: 30px;
    cursor: default;
}

.topbar-wrap
{
    position: relative;
    width: 1000px;
    height: 80px;
    margin: auto;
    user-select: none;
}

.links
{
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 550px;    
}

.top-button
{
    display: inline-block;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    background-image: url("../img/browncheckbg.png");
    cursor: pointer;
}

.top-button.selected
{
    background-image: url("../img/greencheck.png");
}

.selected p
{
    transition-property: none !important;
    color: #5b3c12 !important;
}

.topbar p
{
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: white;
    text-align: center;
    /* padding-top: 13px; */
    letter-spacing: 1px;
    font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif;
    transition-property: color;
    transition-duration: .2s;
}

.topbar p:hover
{
    color: #99cc00;
}

.topbar a
{
    text-decoration: none;
}
