@charset "UTF-8";

body
{
    margin: 0;
}

.infobox
{
    display: block;
    margin: auto;
    width: 800px;
    height: 200px;
    border-radius: 10px;
    background-image: url("img/browncheckbg.png");
    box-sizing: border-box;
    padding: 50px;
    font-size: 18px;
    color: white;
}