@charset "UTF-8";

.title-bar
{
    height: 100px;
    width: 400px;
}

.title-bar .title
{
    font-size: 20px;
}

.program-box
{
    width: 280px;
    height: 40px;
    padding: 5px;
    font-size: 0;
}

.program-box img
{
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 2px;   
    padding-right: 17px;
}

.program-box p
{
    display: inline-block;
    width: 225px;
    height: 100%;
    font-size: 15px;
    line-height: 40px;
    vertical-align: top;
}